@font-face {
    font-family: "Whyte Inktrap";
    src: url("../public/fonts/ABCWhyteInktrap-Super-Trial.otf") format("opentype");
  }

* {
    font-family: "Whyte Inktrap";
    text-transform: uppercase;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: #ffffff;
    background-color: #86AAA8;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.w-fitcontent {
    width: fit-content;
}